<div style="width: inherit; height: 100vh; background-color: #B9F6CA;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="width: 100%; height: inherit; color: #01579B;">
        <div><mat-icon color="primary" class="material-icons md-48">check_circle_outline</mat-icon></div>
        <h1>Thank You!</h1>
        <h2>You are now synced with vcita.</h2>
        <h3>Close this window now and watch all those imported clients!</h3>
    </div>

    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="true">Cancel</button> -->

</div>